
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projeto Eleições</title>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no"/>

        <link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/css/style.css" rel="stylesheet"/>
    </head>
    <body>

        <div class="container">
            <div class="jumbotron">
                <h1>Eleição DATA-A</h1>
            </div>

            <h4>
                Novo Candidato
            </h4>

            <form th:action="@{/eleicao/{eleicaoId}/images/images(eleicaoId=${eleicaoId})}" th:method="post" th:object="${image}"  enctype="multipart/form-data"> 
                <div class="row">
                    <input id="id" type="hidden" th:field="*{id}"/>
                    <div class="form-group col-md-12">
                        <label for="nome">Foto:</label>
                        <input class="form-control" id="image" type="file" name="file"/>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" onclick="postmessage();">Salvar</button>
                        </div>
                    </div>
                </div>
            </form>

            <hr/>

            <a class="btn btn-light" th:href="@{/eleicao/{id}/candidatos/listar(id=${eleicaoId})}">Voltar</a>

            <hr/>
            <footer class="footer">
                <p>&copy; 2019 Allan Christian Vieira</p>
            </footer>
        </div>
    </body>
</html>
